thead {
  background-color: #f5f5f5;
  border-color: #ddd;
}
.content {
  max-width: 500px;
  margin: auto;
  padding: 10px;
}
.header {
  text-align: center;
}
.board {
  width: 100%;
}
.even_bgcolor {
  background-color: #f5f5f5;
}
