.popular-title {
	display: flex;
	align-items: baseline;
	flex-direction: row;
}

.popular-title h2 {
	font-family: 'omyu_pretty';
	font-size: 1.5rem;
	margin-right: 1vw;
	margin-left: 1vw;
	color: #2D8F12;
}

.popular-title h1 {
	font-family: 'omyu_pretty';
	font-size: 2rem;
	margin-right: 2vw;
}

.popular-title p {
	font-size: 1rem;
}


/* 댓글 */
.submit-container {
position: absolute;
width: 1300x;
height: 100px;
left: 96px;
}

.submit-background {
position: absolute;
width: 1300px;
height: 100px;
left: 96px;

background: #FFFFFF;
border-radius: 30px;
}

.submit-profile {
position: absolute;
width: 70px;
height: 70px;
left: 135px;
top: 1692px;
border-radius: 30px;
}