{% extends 'base.html' %}
{% load make_hashtag_link %}
{% load static %}

{% block content %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}


<div class="popular-title">
	<h2>&#9654;</h2>
	<h1>교류장</h1>
	<p>글의 전체 내용을 확인하고 댓글 작성이 가능합니다.</p>
</div>

<div class="detail-container">
    <div class="detail">
        <h3>{{post.title}}</h3>
        <p>조회수 : {{post.count}}</p>
        <p>{{post.user_name}}</p>
        <p>{{post.pub_date}}</p>
        <p>{{post|hashtag_link|safe }}</p>
        {% if post.image %}
        <img src="{{post.image.url}}" alt="post_image" width="300px">
    </div>
</div>

{% endif %}


<div class="likes-container">
    <div class="likes"></div>
        <p>좋아요 {{ post.likes.count }}개</p>
        <a href="{% url 'like' post.id %}">
        {% if user in post.likes.all %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg>
    </div>
</div>

    {% endif %}

<div class="submit-container">
    <form method="POST">
        {% csrf_token %}
        <textarea class="submit-background" name="text" placeholder="댓글을 입력하세요"></textarea>
        <button type="submit">댓글 작성</button>
    </form>
</div>

    {% for comment in post.comments.all %}
    <p>{{comment.text}}</p>
    {% endfor %}
    <br>
    <a href="{% url 'update' post.id %}">글 수정하기</a>
    <br>
    <a href="{% url 'delete' post.id %}">글 삭제하기</a>

{% endblock %}